Katas/HarryPotter/.idea
0 - Setup/SetupCheck.xcodeproj/xcuserdata/eldudi.xcuserdatad
1 - Introduction/FirstTest/.idea
1 - Introduction/BeforeAfter/.idea
1 - Introduction/BeforeAfter/BeforeAfter.xcodeproj/xcuserdata
5 - Katas/FizzBuzz/FizzBuzz.xcodeproj/xcuserdata
